
body{
    background-image:linear-gradient(to top,rgba(0,0,0,0.3)50%,rgba(0,0,0,0.3)50%),url("1.jpg");
    /*background-image: radial-gradient(blue,white);*/
    background-position: center;
    background-size: cover;
}

.containeer{
    border-radius: 10px;
    color:#ffff;
    background-color:rgba(0,0,0,0.7);
    width:280px;
    height:300px;
   /*text-align: center;*/
   /* margin-left:72%;
    margin-top: 15%;*/
    margin-left: 72vw;
    margin-top: 25vh;



}
h3{
    position: relative;
    top: 15px;
    margin-top: 30px;
    margin-left: 70px; 
    margin-bottom: 40px;
    background: #ffff; 
    color: rgb(255, 111, 0);
    width: 150px;
    text-align: center;
    border-radius: 6px;
    font-size:20px; 

    
}
.field{
    margin-bottom: 5px;
    padding-bottom: 5px;
    position: relative;
}
.field input:not(.terms,.forgot){
  
    margin-bottom: 10px;
    width:78%;
    height: 40px;
    border:none;
    background:transparent;
    margin-left: 30px;
    border-bottom: 2px solid rgb(237, 94, 22);
    align-items: center;
    color: #ffff;

}
form input.button{
    font-weight: bold;
    font-size: 15px;
    font-family: monospace;
    width:60%;
    height: 30px;
    color: black;
    background-color: rgb(246, 98, 7);
    border-radius: 5px;
    border: none;
    margin-left: 56px;
    transition: .5s;
    text-transform: capitalize;


    
}
input::placeholder{
    color:#fff;
    padding: 5px;
}
input:focus{
    background: #fff;
    color:#000;
}

.field input.terms{
    position: relative; 
    margin-left: 33px;
    
   
}
.forgot{
    position: relative;
    margin-left: 26px;
    color: red;
    background: transparent;
    border: none;
}
ion-icon{
    position: relative;
    right: 20px;
    top:10px;   
}
.header{
    margin-top: 5vh;
    margin-left: 20vw;
    word-spacing: 3vw;
    min-width: 1px;
 
  /*display: flex;
  justify-content: space-around;
  width: 60%;*/

}
.header button{
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:bold;
    color: #ffff;
    width: 10x;
}
.search{
    margin-top: -1.5vw;
    margin-left: 70vw;
    word-spacing: -9vw;
}
.search button{
    background-color: rgb(234, 107, 44);
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
    width: 80px;

}
.search input{
    height: 26.5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 40%;
    background: rgba(0,0,0,0.7);
    border-color: rgba(207, 135, 93, 0.948);
}
@media only screen and (max-width:700px){
    .header{
        
        margin-left: 0;
        margin-top: 30px;
        width: 10px;
        
    }
    .header button{
        display: block;
        font-size: 15px;
        
    }
    .containeer{
        margin-left:10vw;
        margin-top: 10vh;
    }
    .search{
        display: flex;
        position: absolute;
        top: 40px;
        right:10px
        
    }
    .search input{
        height: 26.5px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        width: 150px;
        background: rgba(0,0,0,0.7);
        border-color: rgba(207, 135, 93, 0.948);
    }
}